.genshinSlider::-webkit-slider-thumb {
  appearance: none;
  @apply bg-genshin-slider-dot outline outline-2 outline-black/50 rotate-45;
  width: 12px;
  height: 12px;
  margin-top: -1px;
}

.genshinSlider::-webkit-slider-runnable-track {
  @apply bg-genshin-slider-bg rounded-full;
  height: 10px;
}

.genshinSlider::-moz-range-progress {
  @apply bg-genshin-slider-active
}

.genshinSlider {
  appearance: none;
  background-color: transparent;
}