.pageBackground {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  transform: scale(1.5);

  @apply blur-md
}